<?xml version='1.0' encoding='utf-8'?>
<settings version="1">
    <section id="service.audio.stream.monitor.qf">
        <category id="data" label="32020" help="">
            <group id="1" label="32020">
                <setting id="provider_finder_enabled" type="boolean" label="32050" help="32051">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
            </group>
        </category>
    </section>
</settings>
